
<div class="alert alert-success" role="alert" *ngIf="success" >
  <h4>Story Submitted</h4>
  <p>Thankyou. This story has now been submitted and will appear on the home-screen map.</p>
</div>

<div class="alert alert-danger" role="alert"  *ngIf="errorMessage">
  <div class="header">Failed to save story</div>
  <p>The following error occurred when trying to save your story: {{errorMessage}}</p>
</div>



<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12">

    <h1><img src="../../assets/TreeStoriesTempLogo.png" height="100px" alt="Tree Stories logo">
      Edit your story</h1>


  </div>
</div>

<form role="form" (ngSubmit)="onSubmit(editStoryForm.value)" [formGroup]="editStoryForm">


  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" formControlName="title"  rows="1" required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label imgUpload="botName">Upload photo(s)</label>
        <image-upload id="imgUpload"[max]="5"
                      (onFileUploadFinish)="imageUploaded($event)"
                      [maxFileSize]="2048576">
        </image-upload>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <h4 >Location and type of feature</h4>
      </div>

    </div>
  </div>
  <div *ngIf="editedStory">
  <div class="row" >
    <div class="col-md-7" height="500px">
      <app-interactive-map [editedStory]="editedStory"(onPositionChanged)="onPositionChanged($event)" (onRectPositionChanged)="onRectPositionChanged($event)">
      </app-interactive-map>

    </div>

    <div class="col-md-5">
      <img *ngFor="let uri of editedStory.photoLinks" src="{{uri}}" alt="tree image" style="width:75px;height:75px;margin:5px">
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input id="latitude" name="latitude" class="form-control" formControlName="latitude"
               title="Latitudes must be in the format...." >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input id="longitude" name="longitude" class="form-control" formControlName="longitude"
               title="Longitudes must be in the format...." >
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4">
      <div class="form-group"><h4>About the tree or region</h4>
        <label for="botName">Botanic name (if known)</label>
        <textarea id="botName" name="botName" class="form-control"
                  formControlName="botName"  rows="1"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="description">Your tree story</label>
        <textarea id="description" name="description" class="form-control"
                  formControlName="description"  rows="3" required></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="source">Sources - where did your story come from?</label>
        <input type="text" id="source" name="source" class="form-control" formControlName="source" required >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="contributor">Contributor</label>
        <input type="text" id="contributor" name="contributor" class="form-control" value="{{storyModel.contributors}}" formControlName="contributor" readonly>

      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!editStoryForm.valid">Submit</button>

</form>
<p>editlStoryForm value: {{ editStoryForm.value | json}}</p>
<p>editStoryModel value: {{ storyModel | json}}</p>
