/*:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
}*/

nav a.router-link-active {
  color: #106cc8;
}

.navbar-btn.signup {
  color: #ffffff;
  background: #e6242d;
  float: left;
}

.navbar-brand-img {
  max-height: 50px;
  margin-top: -15px;

}

.navbar-background {
  background-color: #ffebc2;
}

.btn-circle.btn-med {
  width: 40px;
  height: 40px;
  padding: 5px 8px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
}

.member-photo {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  border: 2px solid #fff;
  border-radius: 100%;
  display: inline;
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.member-photo-small {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  border: 2px solid #fff;
  border-radius: 100%;
  display: inline;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
