
<div class="alert alert-danger" role="alert"  *ngIf="tokenError">
  <h4>Activation Not Possible</h4>
  <p>We don't know about the token you have used for this request. Perhaps it has expired? Or maybe your account
    has already been activated. Try and login and if unsuccessful try register again.</p>
  <p>{{errorMsg}}</p>
</div>

<div class="container" *ngIf="success">
  <div class="panel">
    <h3>Account Activated</h3>

    <div class="formless">

      <p class="overview">
        Your account has been activated. You'll now be able to submit and manage your own tree stories. Use
        the login link below to get started.
      </p>

    </div>

    <div class="panel-footer">

        <a id="loginlink" [routerLink]="['/login']">Login</a>
      &nbsp; or &nbsp;
      <a id="registerlink" [routerLink]="['/register']">Sign Up</a>

    </div>

  </div>
  Still having problems? <a id="contactlink" [routerLink]="['/contactus']">Email Us</a>
</div>

