<div class="container">

    <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
        Login Failed: {{errorMsg}}
    </div>

    <div class="panel">
        <h3>Log in to your account</h3>
        <form id="login-form" (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm">


            <div class="form-group has-feedback">
                <input type="email" id="email" name="email" class="form-control input-lg"
                       placeholder="Email Address" formControlName="username" required >
                <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" id="password" name="password" class="form-control input-lg"
                       placeholder="Password" formControlName="password" required >
                <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>

        </form>

        <a class="panel-footer" [routerLink]="['/register']">
            New to {{appConsts.APP_TOOL}}? &nbsp; <span>Sign Up</span>
        </a>

    </div>
    <a id="forgotlink" [routerLink]="['/forgot']">Forgot your password?</a>
</div>



