
<div class="alert alert-success" role="alert" *ngIf="success" >
  <h4>Your password has been reset.</h4>
  <p>You will receive a confirmation email of this change at your email address: {{emailAddr}}</p>
  <p><b>We'll now redirect you to the main page...</b></p>
</div>

<div class="alert alert-danger" role="alert"  *ngIf="errorMsg">
  <h4>Reset Not Possible</h4>
  <p>We don't know about the token you have used for this request. Perhaps it has expired? Get a new token from the forgot password page and try again.</p>
  <p>{{errorMsg}}</p>
</div>

<div class="alert alert-danger" role="alert"  *ngIf="errorMessage">
  <h4>Reset Not Possible</h4>
  <p>It's not possible to reset your password.</p>
  <p>{{errorMessage}}</p>
</div>

<div class="container">
  <div class="panel">
    <h3>Reset Password</h3>
    <form role="form" (ngSubmit)="onSubmit(resetForm.value)" [formGroup]="resetForm">
      <p class="overview">
        Enter your new password in the fields below. Passwords must contain at least one number, one uppercase letter, one lowercase letter and one special character.
      </p>

      <div class="form-group has-feedback">
        <input type="password" id="pwd" name="pwd" class="form-control input-lg"
               placeholder="Password" formControlName="pwd" required >
        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="pwd2" name="pwd2" class="form-control input-lg"
               placeholder="Confirm Password" formControlName="pwd2" required >
        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
      </div>


      <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!resetForm.valid">Reset Password</button>

    </form>

    <div class="panel-footer">

        <a id="loginlink" [routerLink]="['/login']">Login</a>
      &nbsp; or &nbsp;
      <a id="registerlink" [routerLink]="['/register']">Sign Up</a>

    </div>

  </div>
  Sill having problems? <a id="contactlink" [routerLink]="['/contactus']">Email Us</a>
</div>

