


<h2>Why Tree Stories?</h2>
<p>
  We want everyone to be able to share their tree stories, whether of individual trees or whole forests and arboretums
  and enjoy reading others' stories.
  This wil democratise the sharing of such information, which is currently isolated in individual governmental asset management systems.
</p>

<h3>Browser Support</h3>
<p>
  Tree Stories is fully supported on the evergreen browsers (Chrome, Firefox & Edge). The product works well on Safari and there are
  no known issues. The product works on IE11, however, in some installations there will be a font issue. IE11 will download
  fonts correctly if you change the Custom level of the "protected Mode" (under the Security Tab of the Internet Options Menu).
  After you click on the "Custom level..." button you have to search for "font download" and change it to "enable".
</p>
<h2>Contact Us</h2>
<p>
  If you want to learn more about the {{appConsts.APP_TOOL}} Tool or {{appConsts.APP_COMPANY}}, please check out our
  <a href="https://millturn.com.au/wp/wiki/tree-stories/">Tree Stories Wiki page</a>
  or visit our <a href="https://millturn.com.au/"> Millturn IT company page</a>.
  <br> To suggest features or raise defects, please use the form below.
</p>

<div class="alert alert-success" role="alert" *ngIf="success" >
  <h4>Request Submitted</h4>
  <p>An email has been sent to {{appConsts.APP_COMPANY}}. We'll get back to you ASAP.</p>
</div>

<div class="alert alert-danger" role="alert"  *ngIf="errorMessage">
  <div class="header">Request Failed</div>
  <p>An error occurred when trying to send your message. Please try again with your own email account. Our email is office@millturn.com.au</p>
</div>

<form role="form" (ngSubmit)="onSubmit(contactForm.value)" [formGroup]="contactForm">

    <div class="container" width="80%">

        <div class="row">
            <div class="form-group" required>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Joe Blogs"
                       formControlName="name" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="joe@company.com"
                       formControlName="email" required >
            </div>
        </div>
        <div class="row">
            <div class="form-group" required>
                <label for="message">Message</label>
                <textarea id="message" name="message" class="form-control" placeholder="write your message here..."
                          formControlName="message"  rows="3" required></textarea>
            </div>
        </div>
        <div class="row">
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <button type="submit" class="btn btn-success" [disabled]="!contactForm.valid || loading">Send</button>
        </div>

    </div>

</form>

