
<div class="row">
  <div class="col-md-12">

    <h1>
      {{title}}
    </h1><button class="btn btn-default" type="button" (click)="openTell()">Tell my tree story</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
<h3>Mapped tree stories</h3>
    <app-google-maps [displayAllStories]="true" [useTreePosMarker]="false" [useDrawingManager]="false"></app-google-maps>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!--<div class="table-scrollable">-->
    <div class="panel-group scrollPanel" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default" *ngFor="let story of stories;let i=index">
        <div class="panel-heading" role="tab" [id]="'id'+i">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+i" aria-expanded="false" aria-controls="collapse">
        "{{story.title}}.Submitted by: {{story.contributors}}"
        </a>
        </h4>
        </div>
        <div [id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="'id'+i">
        <div class="panel-body">
          <div ng-show="story.photoLinks.length() > 0">
          <img  src="{{story.photoLinks[0]}}" alt="tree image" style="width:50px;height:50px;margin:5px"></div>
         <p>{{story.content}}</p>
        </div>
        </div>
      </div>
    </div>



  </div>
</div>
