
<div class="row">
  <div class="col-md-12">

    <h1 class="titleFont" title>
      {{title}}
    </h1>
    <button class="btn btn-default btn-background" type="button" (click)="openTell()" *ngIf="_user.loggedin">Tell my tree story</button>
    <button class="btn btn-default btn-background" type="button" disabled *ngIf="!_user.loggedin">Tell my tree story</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Mapped tree stories</h3>

    <app-google-maps (onPlaceChanged)="onPlaceChanged($event)" [panTo]="panPosition"></app-google-maps>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!--<div class="table-scrollable">-->
    <div class="panel-group scrollPanel" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default" *ngFor="let story of getStories();let i=index">
        <div class="panel-heading titlePanel" role="tab" [id]="'id'+i">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+i" aria-expanded="false"
           aria-controls="collapse" (click)="panToStoryLocation(story.loc.coordinates)">
        "{{story.title}}"
        </a>
        </h4>
        </div>
        <div [id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="'id'+i">
        <div class="panel-body panelStory">
          <div ng-show="story.photoLinks != null" *ngFor="let uri of story.photoLinks;let i=index" class="photoDisplay">
          <img [id]="'photo'+i" src="{{uri}}" alt="tree image" class="img-thumbnail" (click)="showEnlargedPhoto(uri)">
          </div>
          <p>{{story.content}}</p>
          <p>Source(s): {{story.sources}}</p>
        </div>

        </div>
      </div>
    </div>

  </div>
</div>
<div id="myModal" *ngIf="showModal" class="modal">
  <!-- The Close Button -->
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" id="img01" src="{{imageToShow}}">

</div>
