<input id="pac-input" class="controls" type="text" placeholder="Search Box - enter place name">
<div id="floating-panel">
  <!--<input onclick="clearMarkers();" type=button value="Hide Markers">-->
  <!--<input onclick="showMarkers();" type=button value="Show All Markers">-->
  <button class="btn btn-default" type="button" (click)="deleteRectangle()">Delete Area (Rectangle)</button>

    <button class="btn btn-default" type="button" (click)="deleteMarker()">Delete Markers</button>
</div>
<div id="map">


</div>

