
<div class="row">
  <div class="col-md-12">

    <img src="../../assets/TreeStoriesTempLogo.png" height="100px" alt="Tree Stories logo">
    <h1>Tell your story</h1>


   <!-- <TextField hint="Email Address" keyboardType="email" [(ngModel)]="user.email"
               autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
    <TextField hint="Enter short title" [(ngModel)]="story.title"></TextField>
    <TextView hint="Enter your story" [(ngModel)]="story.description"></TextView>
    <Label text="Location of tree (latitude and longitude)"></Label>
    <Button text="Location on Map" class="submit-button" (tap)="locate()"></Button>
    <TextField hint="Latitude" [(ngModel)]="story.locationLat"></TextField>
    <TextField hint="Longitude" [(ngModel)]="story.locationLong"></TextField>
    <Label text="Contributor(s)"></Label>
    <TextView hint="Contributor(s)" [(ngModel)]="story.contributors"></TextView>

    <Button text="Submit" class="submit-button" (tap)="submit()"></Button>-->
  </div>
</div>
  <!--<div class="row">
    <div class="col-md-12">
        <label for="stTitle">Requirement Description </label> <br>
        <input id="stTitle" name="stTitle" required></input>
      </div>

    </div>
-->
<form role="form" (ngSubmit)="onSubmit(tellStoryForm.value)" [formGroup]="tellStoryForm">
  <div class="form-group">
    <label for="title">Name</label>
    <textarea id="title" name="title" class="form-control"
              formControlName="title"  rows="1" required></textarea>

  </div>
  <button>Submit</button>

</form>
