
<div class="alert alert-success" role="alert" *ngIf="success" >
  <h4>Story Submitted</h4>
  <p>Thankyou. This story has now been submitted and will appear on the home-screen map.</p>
</div>

<div class="alert alert-danger" role="alert"  *ngIf="errorMessage">
  <div class="header">Failed to save story</div>
  <p>The following error occurred when trying to save your story: {{errorMessage}}</p>
</div>



<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12">

    <h1><img src="../../assets/TreeStoriesTempLogo.png" height="100px" alt="Tree Stories logo">
   Tell your story</h1>


   <!-- <TextField hint="Email Address" keyboardType="email" [(ngModel)]="user.email"
               autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
    <TextField hint="Enter short title" [(ngModel)]="story.title"></TextField>
    <TextView hint="Enter your story" [(ngModel)]="story.description"></TextView>
    <Label text="Location of tree (latitude and longitude)"></Label>
    <Button text="Location on Map" class="submit-button" (tap)="locate()"></Button>
    <TextField hint="Latitude" [(ngModel)]="story.locationLat"></TextField>
    <TextField hint="Longitude" [(ngModel)]="story.locationLong"></TextField>
    <Label text="Contributor(s)"></Label>
    <TextView hint="Contributor(s)" [(ngModel)]="story.contributors"></TextView>

    <Button text="Submit" class="submit-button" (tap)="submit()"></Button>-->
  </div>
</div>
  <!--<div class="row">
    <div class="col-md-12">
        <label for="stTitle">Requirement Description </label> <br>
        <input id="stTitle" name="stTitle" required></input>
      </div>

    </div>
-->
<form role="form" (ngSubmit)="onSubmit(tellStoryForm.value)" [formGroup]="tellStoryForm">


  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" formControlName="title"  rows="1" required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label imgUpload="botName">Upload photo(s)</label>
        <image-upload id="imgUpload"[max]="5"
                    (onFileUploadFinish)="imageUploaded($event)"
                    [maxFileSize]="2048576">
        </image-upload>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="ckMap">Location and type of feature</label>
          <div class="checkbox">
          <label><input type="checkbox" id="ckMap" formControlName="ckMap">Select in Map</label>
          </div>
            <label class="radio-inline"><input type="radio" id="coordChoiceSingle" formControlName="coordChoice" value="singleTree" >Single Tree</label>
            <label class="radio-inline"> <input type="radio" id="coordChoiceArea" formControlName="coordChoice" value="area">Region</label>

        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12" *ngIf="ckMap.value === true" height="500px">
      <label>Select tree location below</label>
      <p>Use the controls to zoom in and out then drag the marker to where your tree is. Or search for a place and click to add a marker.</p>

        <!--<app-google-maps [story]="storyModel" (onPositionChanged)="onPositionChanged($event)"></app-google-maps>-->
      <app-map (onPositionChanged)="onPositionChanged($event)"></app-map>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div *ngIf="coordChoice.value === 'singleTree'">
          <div class="form-group">
          <div class="col-md-6">
            <label for="latitude"> Latitude</label>
            <input id="latitude" name="latitude" class="form-control" formControlName="latitude"
                                                  title="Latitudes must be in the format...." >
          </div>
          </div>
          <div class="form-group">
          <div class="col-md-6">
            <label for="longitude"> Longitude</label>
            <input id="longitude" name="longitude" class="form-control" formControlName="longitude"
                                                     title="Longitudes must be in the format...." >
          </div>
          </div>
      </div>
    </div>
  </div> <!-- end choice of single tree -->

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="coordChoice.value === 'area'">
        <div class="form-group">
          <div class="col-md-6">
            <label for="latitude"> Top Left Corner Coords</label> <input id="areaPointsTopLeft" name="areaPointsTopLeft" class="form-control" formControlName="areaPointsTopLeft"
                                                  title="...must be in the format...." required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <label for="longitude"> Bottom Right Corner Coords </label><input id="areaPointsBottomRight" name="areaPointsBottomRight" class="form-control" formControlName="areaPointsBottomRight"
                                                     title="... must be in the format...." required>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end choice of area -->

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="botName">Botanic name (if known)</label>
        <textarea id="botName" name="botName" class="form-control"
                  formControlName="botName"  rows="1"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  <div class="form-group">
    <label for="description">Your tree story</label>
    <textarea id="description" name="description" class="form-control"
              formControlName="description"  rows="3" required></textarea>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="source">Sources - where did your story come from?</label>
        <input type="text" id="source" name="source" class="form-control" formControlName="source" required >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="contributor">Contributor</label>
        <input type="text" id="contributor" name="contributor" class="form-control" value="{{storyModel.contributors}}" formControlName="contributor" readonly>

      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!tellStoryForm.valid">Submit</button>

</form>
<p>tellStoryForm value: {{ tellStoryForm.value | json}}</p>
<p>tellStoryModel value: {{ storyModel.locationLat | json}}</p>
