
<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12">

    <h1><img src="../../assets/TreeStoriesTempLogo.png" height="100px" alt="Tree Stories logo">
   Tell your story</h1>

  </div>
</div>

<form role="form" (ngSubmit)="onSubmit(tellStoryForm.value)" [formGroup]="tellStoryForm">


  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" formControlName="title"  rows="1" required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label imgUpload="botName">Upload photo(s)</label>
        <image-upload id="imgUpload"[max]="5"
                    (onFileUploadFinish)="imageUploaded($event)"
                    [maxFileSize]="2048576">
        </image-upload>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <h4 >Location and type of feature</h4>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="ckMap" formControlName="ckMap"> Select in Map
          </label>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12" *ngIf="ckMap.value === true" height="500px">
      <label>Select tree (or area of trees) location below</label>
      <p>Use the controls to zoom in and out then click to add a marker for your tree location.
        Or search for a place and click to add a marker or a rectangle to mark an area. Note: drag isn't enabled - click on rectangle or marker and redraw again to move it).
      The coordinates will be extrapolated from either the photo you submit or the marker or area you draw (its centrepoint) or you can manually enter them.</p>

        <!--<app-google-maps [story]="storyModel" (onPositionChanged)="onPositionChanged($event)"></app-google-maps>-->
      <app-map (onPositionChanged)="onPositionChanged($event)" (onRectPositionChanged)="onRectPositionChanged($event)"></app-map>

    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="latitude">Latitude</label>
          <p><i>A valid latitude is between -90 and +90, with up to 6 decimal places.</i></p>
            <input id="latitude" name="latitude" class="form-control" formControlName="latitude"
                                                  title="Latitudes must be in the format...." >
          </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            <label for="longitude">Longitude</label>
              <p><i>A valid longitude is between -180 and +180, with up to 6 decimal places.</i></p>
            <input id="longitude" name="longitude" class="form-control" formControlName="longitude"
                                                     title="Longitudes must be in the format...." >
          </div>
          </div>
    </div>



  <div class="row">
    <div class="col-md-6">
      <div class="form-group"><h4>About the tree or region</h4>
        <label for="botName">Botanic name (if known)</label>
        <textarea id="botName" name="botName" class="form-control"
                  formControlName="botName"  rows="1"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  <div class="form-group">
    <label for="description">This tree is important because...</label>
    <textarea id="description" name="description" class="form-control"
              formControlName="description"  rows="3"
              data-toggle="tooltip" data-placement="bottom" title="Minimum length 140 chars. Stories should be longer than twitter posts!"
              required></textarea>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="source">Sources - where did your story come from?</label>
        <input type="text" id="source" name="source" class="form-control" formControlName="source" required >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="contributor">Contributor</label>
        <input type="text" id="contributor" name="contributor" class="form-control" value="{{storyModel.contributors}}" formControlName="contributor" readonly>

      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!tellStoryForm.valid">Submit</button>

</form>
<div class="alert alert-success" role="alert" *ngIf="success" >
  <h4>Story Submitted</h4>
  <p>Thankyou. This story has now been submitted and will appear on the home-screen map.</p>
</div>

<div class="alert alert-danger" role="alert"  *ngIf="errorMessage">
  <div class="header">Failed to save story</div>
  <p>The following error occurred when trying to save your story: {{errorMessage}}</p>
</div>
<!--<p>tellStoryForm value: {{ tellStoryForm.value | json}}</p>-->
<!--<p>tellStoryModel value: {{ storyModel | json}}</p>-->
